@font-face {
  font-family: Billabong;
  src: url(FontsFree-Net-Billabong.ttf);
}

/* page */

/* limit width to Bootstrap "Medium" container (see https://getbootstrap.com/docs/5.3/layout/containers/) */
@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}

h1 {
    margin-bottom: 1rem;
}

h2 {
    margin-top: 1rem;
}

/* Navbar */

.logo {
    font-family: Billabong, sans-serif;
}

.navbar-nav .nav-link {
  padding-top: 0;
  padding-bottom: 0;
  height: 50px;
  line-height: 50px;
}

/* Forms */

.login-form {
    max-width: 500px;
}

label.required:after {
    content: "*";
    color: red;
}

button .spinner-border {
    display: none;
}

button:disabled .spinner-border {
    display: inline-block;
}

/* Posts */

.post {
    max-width: 100%;
}

.post img {
    width: 100%;
}
