{# templates/_navigation.html #}

<nav class="navbar navbar-expand navbar-light bg-light mb-4 shadow">
    <div class="container justify-content-center">
        <a class="navbar-brand" href="/">
            <img src="{{ url_for('static', filename='TMM_circle.png') }}" alt="TMM logo" height="50" class="d-inline-block align-top me-3">
            <span class="logo fs-1 align-middle">tmmgram</span>
        </a>
        <ul class="navbar-nav mb-2">
            {% if current_user.is_admin %}
                <li class="nav-item">
                    <a class="nav-link" href="/admin">Administrace</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/logout">Odhlásit</a>
                </li>
            {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="/upload"><i class="bi bi-plus-square fs-2"></i></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/profile" title="{{ current_user.name }}"><i class="bi bi-person-fill fs-2"></i></a>
                </li>
            {% endif %}
        </ul>
    </div>
</nav>