{# templates/index.html #}

{% extends "base.html" %}

{% block content %}
    <h1>Nahrát fotku</h1>

    <form action="/upload" method="post" enctype="multipart/form-data">
        <div class="mb-3">
            <input class="form-control is-invalid" type="file" id="user_file" accept="{{ allowed_files }}" required>
            <div class="invalid-feedback" id="validity_message">
                Nejprve vyberte fotku.
            </div>
            <div class="valid-feedback">
                Fotka je připravena pro nahrání.
            </div>
            <div class="text-primary d-none mt-1" role="status" id="spinner">
                <span class="spinner-border spinner-border-sm" aria-hidden="true"></span>
                Probíhá zpracování fotky.
            </div>
        </div>
        <input type="hidden" id="file" name="file" required>

        <div class="mb-3">
            <label for="location" class="form-label">Stanoviště</label>
            <select class="form-select" id="location" name="location" required>
                {% for location in locations %}
                    <option value="{{ location.id_location }}">{{ location.name }}</option>
                {% endfor %}
            </select>
        </div>

        <button class="btn btn-primary" type="submit" id="submit" disabled>
            Nahrát fotku
        </button>
    </form>

    <script src="https://cdn.jsdelivr.net/npm/compressorjs@1.2.1/dist/compressor.min.js" crossorigin="anonymous"></script>

    <script>
    (() => {
        const file_input = document.getElementById("file");
        const user_file_input = document.getElementById("user_file");
        const submit_button = document.getElementById("submit");
        const spinner = document.getElementById("spinner");
        const validity_message = document.getElementById("validity_message");

        const compression_started = () => {
            submit_button.disabled = true;
            user_file_input.classList.remove("is-invalid");
            user_file_input.classList.remove("is-valid");
            spinner.classList.remove("d-none");
        }
        const compression_successful = () => {
            submit_button.disabled = false;
            user_file_input.classList.add("is-valid");
            spinner.classList.add("d-none");
        }
        const compression_failed = () => {
            user_file_input.classList.add("is-invalid");
            validity_message.innerText = "Chyba při zpracování fotky. Vyberte jinou fotku.";
            spinner.classList.add("d-none");
        }

        user_file_input.addEventListener("change", (e) => {
            const file = e.target.files[0];

            if (!file) {
                return;
            }

            compression_started();

            new Compressor(file, {
                quality: 0.7,
                maxWidth: 2048,
                maxHeight: 2048,
                convertTypes: "{{ allowed_files }}",
                convertSize: 0,
                success(result) {
                    const reader = new FileReader();
                    reader.readAsDataURL(result);
                    reader.onloadend = function() {
                        file_input.value = reader.result;
                        compression_successful();
                    }
                },
                error(err) {
                    user_file_input.value = null;
                    compression_failed();
                    console.log(err);
                }
            });
        });
        // clear the input on refresh
        file_input.value = null;
        user_file_input.value = null;
    })()
    </script>
{% endblock content %}
